rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Messages can be created by anyone, but only read by authenticated users (admins).
    match /messages/{messageId} {
      allow create: if request.auth == null || request.auth != null;
      allow read, update, delete: if request.auth != null;
    }
  }
}
